.c-card {
    align-items: center;
    display: flex;
    border-radius: rem(4);
    border: solid 1px $black-12;
    background-color: $white-two;
    padding: rem(15) rem(20);

    &.no-padding {
        padding: 0;
    }

    &.align-items-flex-start {
        align-items: flex-start;
    }
}
