.c-container {
    &.body {
        margin: rem(100) rem(55) rem(55) rem(110);
    }
}

.c-container-flex {
    display: flex;

    &.flex-grow {
        flex-grow: 1;
    }

    &.inline {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }

    &.justify-content-flex-end {
        justify-content: flex-end;
    }

    &.align-items-center {
        align-items: center;
    }

    &.justify-content-space-between {
        justify-content: space-between;
    }

    &.justify-content-center {
        justify-content: center;
    }

    &.large {
        width: 80%;
    }

    &.half {
        width: 50%;
    }

    &.th3 {
        width: 66%;
    }

    &.th1 {
        width: 32%;
    }

    &.medium-with-space {
        width: 28%;
    }

    &.medium {
        width: 33.33%;
    }

    &.small {
        width: 20%;
    }
}
