.c-sidebar {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    box-shadow: 1px 0 0 0 $white;
    background-color: #ffffff;
    transition: all 0.2s;

    &:hover {
        width: 240px;

        ul li p.text {
            opacity: 1;
        }
        ul li.disabled {
            p.text {
                opacity: 0.2;
            }
        }
        .expand {
            opacity: 1;
        }
    }
    .expand {
        opacity: 0;
        transition: all 0.2s;
    }

    ul {
        background: transparent;
        height: 100%;
        display: flex;
        flex-direction: column;

        li {
            display: flex;
            align-items: center;
            //text-align: center;
            padding: 0;
            margin: 0 rem(15);
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                width: rem(210);
                background-color: #f3f7ff;
                border-radius: rem(4);
            }

            img {
                padding: rem(11) rem(15) rem(12) rem(15);
            }

            p.text {
                opacity: 0;
                transition: all 0.2s;
                padding: 0 rem(10);
                margin: 0;
                font-size: rem(16);
                font-weight: 600;

                color: $black-87;
            }
            &.active {
                p.text {
                    color: $bright-blue;
                }
            }
        }
    }
}
