$pale-grey: #f3f4f6;
$pale-grey-two: #dfe3e8;
$white: #e0e0e0;
$white-two: #ffffff;
$white-three: #f6f6f6;
$bright-blue: #0065ff;
$black-38: rgba(0, 0, 0, 0.38);
$black-87: rgba(0, 0, 0, 0.87);
$black-12: rgba(0, 0, 0, 0.12);
$blue-violet: #6200ee;
$ice-blue: #f3f7ff;
$coral: #fc4a40;
$steel: #768095;
$dark-blue-grey: #1e2c4c;
$bright-blue: #0065ff;
$slate-grey: #6b6c6f;
$brownish-grey: #616161;
$brownish-grey-two: #666666;
